<h1 class="text-center">Персональний менеджер фінансів</h1>

    <div class="container" style="display:flex; justify-content:space-between;">
      <div class="text" style="width:50%; margin-top: 50px;">
        <h4 style="text-align: center;">Це ваш персональний менеджер фінансів де ви можете:</h4>
        <h6 style="text-align: center;">Міні-інструкція</h6>
        <ol style="margin-top:30px;">
            <li style="margin-top:10px; font-size:20px; font-family: sans-serif;">Створювати, редагувати та видаляти Категорії.</li>
            <li style="margin-top:10px; font-size:20px; font-family: sans-serif;">Створювати, редагувати та видаляти Операції.</li>
            <li style="margin-top:10px; font-size:20px; font-family: sans-serif;">Генерувати звіти за певний період часу.</li>
            <li style="margin-top:10px; font-size:20px; font-family: sans-serif;">Також генерувати звіти за певною категорією.</li>
            <li style="margin-top:10px; font-size:20px; font-family: sans-serif;">У цьому вебдодатку також спроектованими є пошуки по категоріях та операціях.</li>
        </ol>
      </div>
      <div class="photo">
        <img src="assets/photo.jpg" alt="Мій портрет" width="600" height="450" style="opacity: 0.7; object-fit: contain;">
      </div>
    </div>



