/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .footer a:hover{
    color:black;
}
#full-color {
    background-color: rgb(138, 137, 137);
}

 body {
    min-height: 100hv;
    display: flex;
    flex-direction: column;
 }
 .footer-basic {
    position: fixed;
    bottom: 0;
    width: 100%;
 }

 .footer{
    background: rgb(138, 137, 137);
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;

}

.icon-row > a {
    display: inline-block;
    width: unset !important;
}

.icon-row {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.footer a{
    text-decoration:none;
    color:white;
    transition:0.5s;
}
.footer a i{
    font-size:2em;
    margin:0% 1%;
}

.Copyright {
    text-align: center;
    color: gray;
}


.button_to {
    display: inline-block !important;
   }

.title_name {
    color: rgb(17, 17, 17);
    margin-right: 10px;
}
.navbar a {text-decoration: none;}

.all_sum {
    background-color: rgb(137, 197, 145);
}

.description_category {
    text-decoration: none;
    color: rgb(23, 123, 185);
}
.description_category:hover {
    color:rgb(59, 0, 208);
}

.description_operation {
    text-decoration: none;
    color: rgb(23, 123, 185);
}
.description_operation:hover {
    color:rgb(59, 0, 208);
}

.title_name:hover {
    color:rgb(183, 196, 207);
}

.icon_pencil {
    color:rgb(17, 17, 17);
    font-size: 17px;
}
.link_pencil {
    text-decoration: none;
    margin-left: 20px;
}
.icon_square {
    font-size: 17px;

}
.button_square {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 10px;
}
.search_category {
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
}
.submit_search_category {
    border-radius: 15px;
}

.search_operations {
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
}

.carousel-inner img {
    margin: auto;
  }
