<h1 class="text-center">Нова категорія</h1>

<div class="container px-4" style="background: rgb(246, 243, 243); margin-top: 15px; border-radius: 10px">
  <%= render "form", category: @category %>
</div>

<br>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
