<h1 class="text-center py-1">Нова транзакція</h1>

<div class="container px-4" style="background: rgb(246, 243, 243); margin-top: 15px; border-radius: 10px">
  <%= render "form", operation: @operation %>
</div>
